<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <iframe
          width="395"
          height="250"
          src="https://www.youtube.com/embed/E8doNyY-cfE"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope;"
          allowfullscreen="true"
        ></iframe>
        <!-- <ion-label>Maze meets God</ion-label> -->
      </ion-col>

      <ion-col>
        <iframe
          width="395"
          height="250"
          src="https://www.youtube.com/embed/unkRYlnnl7c"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
        <!-- <ion-label
        >Three Barriers Between You and God by Dr. Charles Stanley</ion-label
      > -->
      </ion-col>

      <ion-col>
        <iframe
          width="395"
          height="250"
          src="https://www.youtube.com/embed/HhBNGdS5Kqk"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
        <!-- <ion-label>Live Every Day for God - Billy Graham</ion-label> -->
      </ion-col>

      <ion-col>
        <iframe
          width="395"
          height="250"
          src="https://www.youtube.com/embed/gos1NE1ws9c"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
        <!-- <ion-label>You don’t have to know HOW by Pastor Steven Furtick</ion-label> -->
      </ion-col>

      <ion-col>
        <iframe
          width="395"
          height="250"
          src="https://www.youtube.com/embed/BxY_eJLBflk"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
        <!-- <ion-label>Put God First by Denzel Washington</ion-label> -->
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
