<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="grid">
    <div class="row">
      <div class="col">
        <i class="fa-solid fa-phone"></i>
      </div>
      <div class="col">
        <i class="fa-solid fa-envelope"></i>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <i class="fa-brands fa-youtube"></i>
      </div>
      <div class="col">
        <i class="fa-brands fa-facebook-f"></i>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <i class="fa-brands fa-instagram"></i>
      </div>
      <div class="col">
        <i class="fa-brands fa-twitter"></i>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <i class="fa-brands fa-twitch"></i>
      </div>
      <div class="col">
        <i class="fa-brands fa-snapchat"></i>
      </div>
    </div>
  </div>
</ion-content>
