.toolbar {
  // --background: #69f0ae;
  --background: #44e283;
}

ion-title {
  font-family: "Lobster", cursive;
  color: #24282c;
}

ion-tab-bar {
  // border: 1px solid red;
  padding: 2vw 0;
}

.fa-brands,
.fa-solid {
  //   border: 1px solid red;
  font-size: 5vw;
}
