ion-text > p {
  //   border: 1px solid red;
  text-align: center;
  width: 95%;
  margin: 5% auto 40% auto;
}

ion-text > h1 {
  //   border: 1px solid red;
  text-align: center;
}

ion-input {
  // border: 1px solid white;
  border: 1px solid #313131;
  text-align: center;
  width: 60vw;
  height: 20vw;
  font-size: 10vw;
  margin: 0 auto 40% auto;
}
