<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item
      ><div class="flex">
        <b>Father-Abraham</b>
        <p>
          Lord, I release my children to Your care and protection, and I
          relinquish my will for them in favor of Your will. I know I can't go
          everywhere my child goes, but I know you do. Please protect them.Give
          us wisdom for how to parent well.
        </p>
      </div>
    </ion-item>

    <ion-item>
      <div class="flex">
        <b>👑Solomon</b>
        <p>
          Father God, my heart is filled with chaos and confusion. I feel as if
          I am drowning in my circumstances and my heart is filled with fear and
          confusion. I really need the strength and peace that only You can
          give. Right now, I choose to rest in You. In Jesus’ Name, I pray,
          Amen.
        </p>
      </div>
    </ion-item>

    <ion-item>
      <div class="flex">
        <b>Eve🍎</b>
        <p>
          Lord, help me not to lean on my own understanding but in everything
          acknowledge You so that You can direct my words, thoughts and actions.
          In Jesus’ Name, Amen.
        </p>
      </div>
    </ion-item>

    <ion-item>
      <div class="flex">
        <b>Rachel12</b>
        <p>
          Lord, thank You that in Christ, I'm chosen, holy and dearly loved.
          When I'm tempted to measure myself according to the world's standards
          or my foolish comparisons, help me to recognize Satan's lies.
        </p>
      </div>
    </ion-item>

    <ion-item>
      <div class="flex">
        <b>Josephw/theCoat</b>
        <p>
          Lord, my heart is broken but You are near. My spirit is crushed, but
          You are my rescuer. Your Word is my hope. It revives me and comforts
          me in especially now. My soul faints, but you are the breath of life
          within me. You are my help, the One who sustains me.
        </p>
      </div>
    </ion-item>

    <ion-item>
      <div class="flex">
        <b>David876</b>
        <p>
          Holy Lord, Thank You for grace. Please help me move beyond the hurdles
          that trip me up and give me the strength and wisdom to look up and see
          the hope I run toward in Christ. In Jesus’ Name, Amen.
        </p>
      </div>
    </ion-item>

    <ion-item>
      <div class="flex">
        <b>Moses🔥🌳</b>
        <p>
          Father, today I ask forgiveness of all the negative and harmful words
          I have spoken about myself. I do not want to abuse myself in such a
          way again. Transform my thoughts and let me understand how marvelously
          you made me.
        </p>
      </div>
    </ion-item>

    <ion-item>
      <div class="flex">
        <b>LilithThe1st</b>
        <p>
          Father, I am tempted to worry about so many things. Our world is a
          mess! Forgive me for focusing on anything or anyone but You. Thank You
          for the Bible that equips and empowers me to live each day.
        </p>
      </div>
    </ion-item>

    <ion-item>
      <div class="flex">
        <b>Delilah💇🏾‍♂️</b>
        <p>
          Lord, thank you for your greatness. Thank you that when I am weak, you
          are strong. Lord, the Devil is scheming and I know he desires to keep
          me from spending time with you. Don’t let him win!
        </p>
      </div>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <i class="fa-solid fa-plus"></i>
    </ion-fab-button>
  </ion-fab>
</ion-content>
