ion-item {
  border: none;
  // border-top: 1px solid red;
  width: 100vw;
}

.flex {
  border: 1px solid #673ab7;
  border-radius: 1vw;
  margin-bottom: 1%;
  padding: 1%;
}

b {
  // border: 1px solid red;
  border-bottom: 0.8vw solid #24282c;
}
